---
---

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";
// @import "bootstrap/custom";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";

// Core CSS
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
// @import "bootstrap/code";
@import "bootstrap/grid";
// @import "bootstrap/tables";
// @import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
// @import "bootstrap/transitions";
// @import "bootstrap/dropdown";
// @import "bootstrap/button-group";
// @import "bootstrap/input-group";
// @import "bootstrap/custom-forms";
// @import "bootstrap/nav";
// @import "bootstrap/navbar";
@import "bootstrap/card";
// @import "bootstrap/breadcrumb";
// @import "bootstrap/pagination";
// @import "bootstrap/badge";
// @import "bootstrap/jumbotron";
// @import "bootstrap/alert";
// @import "bootstrap/progress";
// @import "bootstrap/media";
// @import "bootstrap/list-group";
// @import "bootstrap/responsive-embed";
// @import "bootstrap/close";

// Components w/ JavaScript
// @import "bootstrap/modals";
// @import "bootstrap/tooltip";
// @import "bootstrap/popovers";
// @import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";

.container-fluid {
  max-width: 1100px;
  margin: 0 auto;
}

.siteheader {
  background-color: $brand-primary;
  color: #fff;
  padding: 1em 0;

  p:last-child {
    margin-bottom: 0;
  }

  .date {
    font-size: 32px;
    font-family: 'Amatic SC', cursive;
    margin-bottom: 11px;
  }

  .lead {
    margin-bottom: 11px;
  }
}

.lead-pull {
  font-family: 'Amatic SC', cursive;
  font-size: 48px;
}

.btn-outline {
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  color: $brand-primary;
  background-color: transparent;
  border-color: $brand-primary;
}

.btn-outline:active, .btn-outline:focus, .btn-outline:hover {
  color: #fff;
  background-color: $brand-primary;
  border-color: $brand-primary;
}

.btn-outline-inverse {
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  color: #fff;
  background-color: transparent;
  border-color: lighten($brand-primary, 13.5%);
}

.btn-outline-inverse:active, .btn-outline-inverse:focus, .btn-outline-inverse:hover {
  color: $brand-primary;
  text-shadow: none;
  background-color: #fff;
  border-color: #fff
}

.amp {
  font-family: Baskerville, Constantia, Palatino, "Palatino Linotype", "Times New Roman", Times, serif;
  font-style: italic;
  display: inline-block;
  font-size: 125%;
  margin: -0.06em 0 0 -0.02em
}

@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
.display-1 {
  font-size: 72px;
  font-family: 'Amatic SC', cursive;
  margin-top: 0;
  letter-spacing: -0.04em;

  a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #FFF;
  }
}

@include media-breakpoint-up(lg) {
  .display-1 {
    font-size: 108px;
  }
}

article .header {
  padding-top: 2em;
}

[role=contentinfo] {
  padding-top: 6em;
}
