<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.desc || 'A one day conference in Brighton for people building digital products' }}">

  <link rel="author" href="humans.txt" />

  <link rel="apple-touch-icon-precomposed" href="/images/favicon-152.png">
  <meta name="msapplication-TileColor" content="#0096FF">
  <meta name="msapplication-TileImage" content="/images/favicon-144.png">
  <meta name="application-name" content="{{ site.name }}">

  <link rel="stylesheet" href="/css/ltvconf.css">
</head>

<body>

<div class="siteheader">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-9">
        <p class="date">Wednesday, 6th July 2016 @ Brighton Dome</p>
      </div>
      <div class="col-sm-offset-2 col-sm-10 col-md-10 col-lg-9">
        <h1 class="display-1">
          Life.Time.Value.
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-9 col-md-8 col-lg-7">
        <p class="lead">A one day single-track conference in Brighton about independently building &amp; growing digital product businesses</p>
        <br />
        <p>
          <a href="https://ti.to/ltvconf/2016" class="btn btn-outline-inverse btn-lg">Buy Tickets</a>
        </p>
        <br />
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  {{ content }}
</div>

<div class="container-fluid">
  <footer role="contentinfo">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-9">
        <hr />
        <p><a href="http://twitter.com/LTVConf">@LTVConf</a></p>
        <p><small>An Inuda Technology Ltd Production</small></p>
      </div>
    </div>
  </footer>
</div>

<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '572fb5e1bb922a7dad004c42');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
<!-- Drip -->
<script type="text/javascript">
  var _dcq = _dcq || [];
  var _dcs = _dcs || {}; 
  _dcs.account = '4830589';
  
  (function() {
    var dc = document.createElement('script');
    dc.type = 'text/javascript'; dc.async = true; 
    dc.src = '//tag.getdrip.com/4830589.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(dc, s);
  })();
</script>
</body>
</html>
